html 
    head 
        title= title
        meta
    body
        h1= title
        p Now I'm hungry for pizza 
        section 
            h2 Pizza Details 
            ul 
                li Type: #{type}
                li Ingredients: #{ingredients}
                li Cost: $#{cost}
                li Comments: #{comments} 
        footer 
            p Welcome!